certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==1.11.17
django-forms-bootstrap==3.1.0
gunicorn==19.7.1
idna==2.8
olefile==0.46
Pillow==5.3.0
psycopg2==2.8.3
pytz==2019.1
requests==2.2.1
stripe==1.70.0
urllib3==1.25.3
whitenoise==3.3.1